bcrypt==3.2.0
cffi==1.14.3
cryptography==3.1.1
fabric==2.5.0
invoke==1.4.1
paramiko==2.7.2
pycparser==2.20
PyNaCl==1.4.0
pytz==2021.1
six==1.15.0
fastapi==0.70.0
sqlmodel==0.0.4
uvicorn[standard]==0.15.0
